/* Resetting default margin and padding */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Warna latar belakang */
  color: #333; /* Warna teks */
  line-height: 1.6;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px;
}

/* Simulator section styles */
.simulator-section {
  padding-top: 5px;
  justify-content: space-between;
  align-items: flex-start;
}

.disk-scheduling {
  flex: 0 0 45%;
  background-color: #fff; /* Warna latar belakang */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan */
}

.disk-scheduling-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  margin-bottom: 50px;
}

.form label {
  font-size: 16px;
}

.form input[type="text"],
.form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  background-color: #007bff; /* Warna tombol */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Warna tombol saat dihover */
}

.output {
  flex: 0 0 45%;
  background-color: #fff; /* Warna latar belakang */
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan */
}

.output-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.results {
  font-size: 16px;
  width: 100%; /* Menetapkan lebar 100% */
}

.results div {
  margin-bottom: 10px;
  width: 100%; /* Menetapkan lebar 100% */
}

/* Chart container styles */
#chartContainer {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
